{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
    },
    "env": {
      "node": true,
      "browser": true,
      "es6": true
      },
    "rules": {
       "comma-dangle": ["error", "never"],
        "no-unused-vars": ["error",
        {
        "vars": "all",
        "args": "none"
        }
        ],
        "arrow-parens": ["error", "as-needed"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
         "no-else-return": [1, { "allowElseIf": false }],
         "quotes": ["error", "single", { "allowTemplateLiterals": true }],
         "function-paren-newline": ["error", "consistent"],
         "object-curly-newline": ["error", { "consistent": true }],
         "react/prop-types": [1],
         "arrow-body-style": [1, "as-needed"],
         "jsx-a11y/no-autofocus": [ 1, {"ignoreNonDOM": true }],
         "react/jsx-boolean-value": [1],
         "jsx-a11y/anchor-is-valid": [1],
         "no-underscore-dangle": [1],

      }
}
